body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;

  }

  nav {
    height: 60px;;
    position: fixed;
    z-index: 1;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .sidebar {
    margin-top: 10vh;
    position: fixed;
    z-index: 1;
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 20vw;
    bottom: 0;

  }

  #main-space {
    display: flex;
    flex-direction: row;
    // height: 70vh;
  }

  #whiteboard {
    width: 70vw;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .aUser {
    font: 30%;
  }

  .popup-box {
    // display: none;
    // position: fixed;

    // height: 285px;
    height: 40vh;
    float: left;
    overflow-y: scroll;
  }
  .chat-box {
    background-color: rgb(237, 239, 244);
    border: 1px solid rgba(29, 49, 91, .3);
    width: 19vw;
    bottom: 0px;
    left: 0px;
    font: 10%;
    transition: all .4s ease-in-out;

  }

  .card {
    width: 250px;
    height: 150px;
    .card-image {
      width: 60px;
    }
  }
  .blob {
    background-color:rgb(164, 173, 190);
    border-radius: 15px;
    margin:2px;
    height: 40px;
  }

  .chat-header {
    background: #293239;
  	border-radius: 5px 5px 0 0;
  	color: #fff;
  	cursor: pointer;
  	padding: 10px 10px;
  }


}
