body {
  font-family: sans-serif;
  max-width: 100%

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a, nav h4 {
    display: inline-block;
    margin: 1em;
    color: black
  }
 button, .btn {
  //  background-color: rgb(3, 3, 82);
  background-color: #212121;
   color: yellow;
 }
  nav {
    z-index: 1;
    background-color: white;
  }
  // #attendee-box {
  //   margin-top: 30px;
  //   #attendees {
  //     display: inline-block;
  //     height: 30px;
  //     overflow-x: auto;
  //     white-space:nowrap;
  //     width: 70vw;
  //   }
  // }

  #attendee-box {
    margin-top: 30px;
    width:10vw;
    position: fixed;
    z-index: 25;
    #attendees {
      display: flex;
      flex-direction: column;
      height: 130px;
      width: 8vw;
      margin-top: 65px;
      overflow-y: scroll;
      .chip {
        white-space: nowrap;
      }
    }
    button {
      width: 7vw;
      position: fixed
    }
  }

  .sidebar {
    margin-top: 10vh;
    position: fixed;
    z-index: 1;
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 20vw;
    bottom: 0;

  }

  #main-space {
    display: flex;
    flex-direction: row;
  }

  #basket {
    float:right;
    position: fixed;
    right: 0;
    top: 70;
    width: 300px;
    height: 250px;

  }

  #whiteboard {
    overflow: scroll;
  }
  .aUser {
    font: 30%;
  }
  #formBox {
    border: 5px solid grey;
  }
  #formNote {
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-color: grey;
  }
  .popup-box {
    height: 40vh;
    float: left;
    overflow-y: scroll;
  }

  .chat-header {
    background: yellow;
  	border-radius: 5px 5px 0 0;
  	color: rgb(3, 3, 82);
  	cursor: pointer;
  	padding: 10px 10px;
  }

  .chat-box {
    border: 2px solid black;
    width: 19vw;
    bottom: 0px;
    left: 0px;
    transition: all .4s ease-in-out;
    align-self: center;
    .chat-list {
      width: 18vw;
      overflow-wrap: break-word;
    }

  }

  div.twitter-picker {
    width: auto !important;
  }
  .card {
    width: 250px;
    .card-image {
      width: 60px;
      transition: 1s;
    }
    .card-image:hover {
      transform: scale(2,2);
    }
  }



  .colorPalette {
    right: 100px;
    bottom: 32px;
    position: absolute;
    border-radius: 50%;
  }

  #mini-whiteboard {
    width: 90vw;
    height: 50vh;
    background-color: pink;
    margin: 0 auto;
  }

  i.icon-grey{
    color: grey;
}

  // .home-whiteboard {
  //   width: 60vw;
  //   height: 60vh;
  //   background-color: pink
  // }
  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  // float: right;
  font-size: 12px;
  margin: 10px;
}

#laneButton {
  right: 150px;
  bottom: 32px;
  position: absolute;
  border-radius: 50%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.verticalSwimlane {
  width: 100%;
  height: 800px;
  background: #eceff1;
  border-radius: 0.5rem;
}

#categoryName {
  padding: 10px;
  font-weight: bold;
  box-shadow: none;
}

}
