body {
  font-family: sans-serif;
  max-width: 100%;
  background-color: white;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }
  nav a, nav h4 {
    display: inline-block;
    margin: 1em;
    color: black
  }
 button, .btn {
  //  background-color: rgb(3, 3, 82);
  background-color: #212121;
   color: yellow;
 }
nav {
  z-index: 1;
  background-color: transparent;
  margin-top: 1em;
  &.nav {
    box-shadow: none;
  }
  .nav-wrapper {
    border-top: grey 0.1em solid;
  }
  .left.brand-logo {
    margin-top: 0.1em
  }
}
  #attendee-box {
    margin-top: 30px;
    width:10vw;
    position: fixed;
    z-index: 25;
    #attendees {
      display: flex;
      flex-direction: column;
      height: 130px;
      width: 8vw;
      margin-top: 65px;
      overflow-y: scroll;
      .chip {
        white-space: nowrap;
      }
    }
    button {
      width: 7vw;
      position: fixed
    }
  }

  .sidebar {
    margin-top: 10vh;
    position: fixed;
    z-index: 1;
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 20vw;
    bottom: 0;
    min-width: 200px;

  }

  #main-space {
    display: flex;
    flex-direction: row;
  }

  #basket {
    float:right;
    position: fixed;
    right: 0;
    top: 70;
    width: 300px;
    height: 250px;

  }

  #whiteboard {
    overflow: scroll;
  }
  .aUser {
    font: 30%;
  }
  #formBox {
    border: 5px solid grey;
  }
  #formNote {
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-color: grey;
  }
  .popup-box {
    height: 40vh;
    overflow-y: scroll;
  }

  .chat-header {
    background: yellow;
  	border-radius: 5px 5px 0 0;
  	color: rgb(3, 3, 82);
  	cursor: pointer;
  	padding: 10px 10px;
  }

  .chat-box {
    border: 2px solid black;
    width: 19vw;
    bottom: 0px;
    left: 0px;
    transition: all .4s ease-in-out;
    align-self: center;
    min-width: 200px;
    .chat-list {
      overflow-wrap: break-word;
      .message-box {
        width: 100%;
        line-height: 1;
        border: thin solid black;
        padding: 0 1rem;
      }
      .message-box.self{
        border-radius: 20px 5px 20px 5px;
        text-align: right;
      }
      .message-box:not(.self){
        border-radius: 5px 20px 5px 20px;
        text-align: left;
      }
    }
    .smallName {
      color: grey;
      font-size: 10px;
    }

  }

  div.twitter-picker {
    width: auto !important;
  }
  .card {
    width: 250px;
    min-height: 100px;
    margin: 0 auto;
    .card-image {
      max-width: 65%;
      transition: 1s;
    }
    .card-image:hover {
      transform: scale(2,2);
    }
  }



  .colorPalette {
    right: 100px;
    bottom: 32px;
    position: absolute;
    border-radius: 50%;
  }

  // #mini-whiteboard {
  //   width: 90vw;
  //   height: 50vh;
  //   background-color: pink;
  //   margin: 0 auto;
  // }

  i.icon-grey{
    color: grey;
}

  // .home-whiteboard {
  //   width: 60vw;
  //   height: 60vh;
  //   background-color: pink
  // }
  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 26; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  min-height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 10vh 10vw;
    border: 1px solid #888;
    width: 80%;
    position: fixed;
    max-height: 95vh;
    overflow: scroll;
    padding: 20px;
    font-size: 3vw;
    text-align: center;
    td{
      padding: 1vw 1vh;
    }
  }
}



/* The Close Button */
.close {
  color: #aaaaaa;
  // float: right;
  font-size: 12px;
  margin: 10px;
}

#laneButton {
  right: 150px;
  bottom: 32px;
  position: absolute;
  border-radius: 50%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.verticalSwimlane {
  width: 100%;
  height: 800px;
  background: #eceff1;
  border-radius: 0.5rem;
}

#categoryName {
  padding: 10px;
  font-weight: bold;
  box-shadow: none;
}

div.home-whiteboard {
  .intro {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h3 {
      font-weight: 300;
    }
    p {
      color: orange;
      font-size: 1.5em;
    }
  }
  .mini-whiteboard {
    height: 120vh;
    width: 100vw;
    background-color: aliceblue;
    border: lightgrey 1.5em solid;
  }
  .features {
    background-color: lightyellow;
    height: 100vh;
    display: flex;
    align-items: center;
    span {
      width: 100vw;
    }
    h4 {
      margin: 0;
      padding-bottom: 2em;
      text-align: center;
      color: navy;
      font-weight: 300;
    }
    .row {
      width: 80vw;
    }
    .col.s4 {
      text-align: center;
      padding: 2em;
      .material-icons {
        font-size: 5.5em;
      }
      p {
        font-size: 1.3em;
        color: cadetblue;
      }
    }
  }

  .take-actions {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      color: aliceblue;
      background-color: orange;
      border-radius: 0.5em;
      font-size: 1.8em;
      margin: 0.7em;
      padding: 0.8em;
      font-weight: 300;
    }
  }
}
.smallImg{
  width:20px;
  border-radius: 50%;
}
}
