nav {
  height: 10vh !important;
  top: 0
}

/*.children {
  margin-top: 10vh
}*/

.icon {
  margin-top: -3vh;
  height: 10vh;
  width: 30%
}

.home-info {
  height: 35%;
  width: 100vw;
  background-color: #FBFFB9;
  margin: 10vh 0;
}

.details {
  padding-bottom: 7vh;
  padding-top: 7vh;
  margin: 0 auto;
  width: 40vw;
  height: 30%
}

.details h5 {
  color: grey;
  font-size: 2.5em
}

.details span {
  padding: 2vw;
  font-size: 1.2em
}

.children h3 {
  text-align: center;
  padding: 1vh
}

/*body {
  margin-bottom: 25vh !important
}*/

div.home-toggle {
  position: absolute;
  top: 210vh
}

footer {
  width: 100%;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  margin-top: 50vh;
  background-color: teal !important
}
